{
  "installed": {
    "client_id": "REPLACE_ME.apps.googleusercontent.com",
    "client_secret": "REPLACE_ME",
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://oauth2.googleapis.com/token"
  }
}
