[Desktop Entry]
Type=Application
Name=lilical
Comment=Calendar for Google, Outlook, and CalDAV
Exec=lilical %f
Icon=org.lilical.Lilical
Terminal=false
Categories=Office;Calendar;
MimeType=text/calendar;
StartupWMClass=lilical
